 /* Holiday Guide TEXT */
#shop, #holiday {
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size: 9vw;
	opacity: 80%;
	animation-duration: 3s;
}

#holiday {
	margin-top: -32%;
	margin-left: 3%;
	color: rgba(131,131,131,1.00);
	z-index: 10;
	animation-name: start_reverse;
}

#shop {
	margin-top: 12%;
	margin-left: 20%;
	z-index: 10;
	margin-bottom: 15%;
	animation-name: start;
	position: relative;
}

@keyframes start {
	from {
		transform: translateX(-15%);
		opacity: -20%;
	}
	to {
		transform: translateY(0);
		opacity: 80%;
	}
}

@keyframes start_reverse {
	from {
		transform: translateX(15%);
		opacity: -20%;
	}
	to {
		transform: translateY(0);
		opacity: 80%;
	}
}

/*Section*/

#items-section {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-left: 0%;
	padding-left: 0%;
}

#phonePic {
	width: 70%;
	border-radius: 10px;
	margin: 2%;
}

#tvPic {
	width: 70%;
	border-radius: 10px;
	margin: 2%;
}


#micPic {
	width: 12%;
	border-radius: 10px;
	margin: 2%;
}

.img2 {
	border-radius: 10px;
}

.item1, .item2 {
	display: flex;
	flex-direction: row;
	flex-basis: auto;
	justify-content: space-evenly;
	align-content: center;
	padding: 3%;
	border-radius: 10px;
	margin: 2%;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	font-weight: 100;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 1.5vw;
}

name {
	font-size: 2.5vw;
	margin:2%;
}

.item1 {
	background-color:rgba(92,76,100,0.6);
}

.item2 {
	background-color:rgba(140,144,160,0.63);
}