@charset "UTF-8";

body {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
}


.container {
	background-color: rgba(104,111,130,0.5);
	width: 100%;
	overflow-x: hidden;
	margin-left: auto;
	margin-right: auto;
	border-bottom-width: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}

.primary_header {
	background-color: #095256;
	padding-top: 1px;
	padding-bottom: 1px;
	border-bottom: 10px solid #10969D;
}

nav {
	padding-bottom: 15px;
	padding-top: 1px;
	background-color: #15CBD4;
	height: 40px;
	width: 100%;
	align-content: center;
	position: absolute;
	z-index: 100;
}

nav li {
	margin-left: 1%;
}
nav li, nav a {
	list-style: none;
	float: left;
	font-family: 'Varela Round';
	font-weight: normal;
	color: #FFFFFF;
	text-align: center;
	width: 10%;
	transition: all 0.3s linear;
	text-decoration: none;
	padding-left: 5%;
	white-space: nowrap;
	
}
nav ul li:hover, nav li a:hover {
	color: #717070;
	cursor: pointer;
}


.title {
	font-weight: bold;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	color: #FFFFFF;
	font-size: 30px;
	letter-spacing: 2px;
}


header {
	animation-name: head_delay;
	animation-duration: 4s;
}

@keyframes head_delay  {
	0% {
		opacity: 0%;
	}
	
	50% {
		opacity: 0%;
		transform: translateY(-15%);
	}
	
	100% {
		opacity: 100%;
		transform: translateY(0);
	}
}

@keyframes head_delay_up  {
	0% {
		opacity: 0%;
	}
	
	50% {
		opacity: 0%;
		transform: translateY(15%);
	}
	
	100% {
		opacity: 100%;
		transform: translateY(0);
	}
}

 /* SAM REED TEXT */
#sam, #reed {
	color:white;
	font-family: 'Montserrat', sans-serif;
	font-size: 25vw;
	opacity: 80%;
	animation-duration: 3s;
}

#reed {
	margin-top: 20%;
	margin-left: 30%;
	color: rgba(131,131,131,1.00);
	z-index: 10;
	animation-name: start_reverse;
}

#sam {
	margin-top: -47%;
	margin-left: 3%;
	z-index: 10;
	margin-bottom: 15%;
	animation-name: start;
	position: relative;
}

@keyframes start {
	from {
		transform: translateX(-15%);
		opacity: -20%;
	}
	to {
		transform: translateY(0);
		opacity: 80%;
	}
}

@keyframes start_reverse {
	from {
		transform: translateX(15%);
		opacity: -20%;
	}
	to {
		transform: translateY(0);
		opacity: 80%;
	}
}

/* Section contains main text and image */

section {
	width:90%;
	display: flex;
	justify-content: center;
	padding: 5%;
	animation-name: head_delay_up;
	animation-duration: 4s;
	
}

.container .left_article h3 {
	color: #717070;
	font-weight: bold;
	font-size: 5vw;
	color:white;
	padding-left: 10%;
	font-family: 'Varela Round', sans-serif;
	
}
.container .left_article p {
	
	color: #B3B3B3;
	color: white ;
	font-size: 2.5vw;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 0%;
	font-family: 'Varela Round', sans-serif;
}

.left_article {
	width: 50%;
	height: inherit;
	background-color: rgba(27,126,149,0.40);
	border-radius: 10%;
}

spacer {
	width: 3%;
}

.right_article {
	width: 50%;
	height: inherit;
}

.main_img {
	height: 100%;
	width: 100%;
	border-radius: 10%;
}

/* Secondary Content */

#secondary {
	display: flex;
	flex-direction: row;
	width: 96%;
	flex-grow: 5;
	justify-content: center;
	gap: 2%;
	flex-basis: auto;
	padding: 2%;
}

.vertStack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: rgba(29,63,101,0.30) solid 0.7vw;
	border-radius: 20px;
	padding: 3%;
	width: 20%;
	font-family: 'Varela Round', sans-serif;
	text-align: center;
	text-decoration: none;
	color: black;
	transition: background-color 0.5s;
	font-size: 1.7vw;
}

.vertStack:hover {
	background-color: rgba(118,160,175,0.4);
}

.img2 {
	width: 10vw;
	height: 10vw;
	padding-bottom: 7%;
	
}



/* Bottoms Logos and Footer */

.copyright {
	text-align: center;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 20px;
	padding: 10px;
	font-family: "Source Sans Pro";
}

.thumbnail {
	width: 50px;
	border-radius: 100px;
	height: 50px;
	margin-left: auto;
	border: rgba(9,82,86,0.12) solid 5px;
	border-radius: 20px;
}

.social .thumbnail {
	border:none;
}

.thumbnail_align {
	text-align: center;
}
.social {
	text-align: center;
	width: 100%;
	background-color: #414141;
	clear: both;
	overflow: auto;
	padding: 30px;
}
.social_icon {
	width: 20%;
	float: left;
	transition: all 0.3s linear;
	margin-left: 9.35%;
	border: none;
}

.container .social .social_icon:hover {
	cursor: pointer;
	opacity: 0.5;
}
